.table {
  display: flex;
  flex-direction: column;
  width: 1050px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
}
.tableHead {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  color: #365611;
  font-size: 20px;

  border-radius: 20px;
  background-color: #acacac10;
}
.headItemS {
  width: 150px;
  display: flex;
  padding: 45px 0 30px;
  border: #fff 2px solid;
}
.headItemS:first-child {
  border-top-left-radius: 20px;
}
.headItemS:last-child {
  border-top-right-radius: 20px;
}
.headItemS > p {
  margin: 0 auto;
}
.headItemL {
  width: 450px;
  display: flex;
  padding: 45px 15px 30px;
  border: #fff 2px solid;
}
.tableBar {
  display: flex;
  max-height: 105px;
}
.tableBar:last-child>.barItemFirst{
  border-bottom-left-radius: 20px;
}
.barItemFirst {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #acacac10;
  border: #fff 2px solid;
}
.barItemFirst > p {
  color: #000;
  margin: 0;
  font-size: 16px;
}
.barItemL {
  width: 450px;
  background-color: #f9f9f985;
  border: #fff 2px solid;
  padding: 14px 25px;
}
.barItemS {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.barItemTitle {
  color: #000;
  font-size: 16px;
}
.barItemTab {
  border: #fff 2px solid;
  background-color: #f9f9f985;
  margin: 0;
  font-size: 16px;
  padding: 5px 0;
  height: 35px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barItemTabPrice{
 border: #fff 2px solid;
  background-color: #f9f9f985;
  margin: 0;
  color: #365611;
  font-size: 16px;
  padding: 5px 0;
  height: 35px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}