.container{
    padding:30px 175px;
}
.banner{
    height: 200px;
    border-radius: 30px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/afftograf-e496c.appspot.com/o/images%2FPrintingBanner.png?alt=media&token=65c28232-8ae3-4b4e-8951-fbc72b92e640);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.bannerTitle{
    font-size: 40px;
    color: #fff;
    display: flex;
    margin-right: 40px;
}
.bannerBio{
    display: flex;
    width: 370px;
    color: #fff;
    font-style: 16px;
}