.productsSliderContainer {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.leftArrowSlider,
.rightArrowSlider {
    color: #fff;
    background-color: #5e5e5e40;
    border-radius: 100px;
    font-size: 18px;
    z-index: 1;
}

.leftArrowSlider {
    padding: 20px 26px 20px 23px;

}

.rightArrowSlider {
    padding: 20px 23px 20px 26px;
}

.leftArrowSlider:hover,
.rightArrowSlider:hover {
    background-color: #5e5e5e70;
}

.wrappeerSlider {
    padding: 25px;
    overflow: hidden;
    position: relative;
    right: 15px;
}

.productsSlider {
    display: grid;
    grid-auto-flow: column;
    column-gap: 34px;
    width: 100%;
    position: relative;
    transition: 1s;
}

.productsSlider>*>div {
    filter: drop-shadow(#00000015 0 0 10px);
}